<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @document.user_id %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @document.slug %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @document.completed %>
</p>

<p>
  <strong>Data:</strong>
  <%= @document.data %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
