<%= form_for(provider_patient) do |f| %>
  <% if provider_patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider_patient.errors.count, "error") %> prohibited this provider_patient from being saved:</h2>

      <ul>
      <% provider_patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provider_id %>
    <%= f.number_field :provider_id %>
  </div>

  <div class="field">
    <%= f.label :patient_id %>
    <%= f.number_field :patient_id %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.number_field :active %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
